# IDE & Editor files
.vscode/
.idea/

# Backend
backend/venv/
backend/.venv/
backend/storage/
backend/__pycache__/
backend/*.pyc

# Frontend
frontend/node_modules/
frontend/dist/

# Logs & temp files
*.log
.DS_Store

# Video & Pipeline Testing
*.mp4
*.tflite
backend/tests/pipeline_playground/output/
backend/tests/pipeline_playground/*.json
backend/tests/pipeline_playground/*.wav